@()
@main("Cadastrar Livro"){
    <form action="@controllers.routes.HomeController.exibirCadastrar()" method="post">
        <label for="Titulo">Nome do filme</label>
        <input type="text" name="nome" placeholder="Digite o nome do Livro">
        <br>
        <label for="generos">Generos</label>
        <select name="generos">
            <option value="comedia" name="comedia">Comedia</option> 
            <option value="drama" name="drama">Drama</option>
            <option value="romance" name="romance">Romance</option> 
            <option value="outro" name="outro">Outro</option>
        </select>
        <br>
        <label for="prioridades">Prioridade</label>
        <select name="prioridades">
            <option value="1" name="1">1</option> 
            <option value="2" name="2">2</option>
            <option value="3" name="3">3</option> 
            <option value="4" name="4">4</option>
            <option value="5" name="5">5</option>
        </select>
        <br>
        <label for="ano">Ano de Produção</label>
        <input type="text" name="ano" placeholder="Digite o ano de produção">
        <br>
        <label for="assistido">assistido</label>
        <select name="assistido">
            <option value="SIM" name="SIM">SIM</option> 
            <option value="NAO" name="NAO">NAO</option>
        </select>
        <br>
        <button type="submit">Enviar</button>
    </form>
}